.footer {
    /* 不伸缩，不收缩，自动高度 */
    flex: 0 0 auto;
    border-top: solid 1px var(--adm-color-border);
    /* 使元素在滚动时保持在底部 */
    position: sticky;
    bottom: 0;
    /* 确保footer在其他内容之上 */
    z-index: 1000;
}