.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
}

.content {
    /* 可伸缩，可收缩，自动高度 */
    flex: 1 1 auto;
    padding: 10px;

    /* 内容超出时显示滚动条 */
    overflow-y: auto;
}