.empty {
  margin-top: 8px;
}

.allGroupsCheckbox {
  margin: 8px 16px 0;
  display: flex;
  justify-content: flex-end;
}

.groupList {
  margin: 4px 16px 16px;
}

.groupItem {
  display: flex;
}
.groupItemAvatar {
  --size: 32px;
}
