/************** 账号 **************/
.accountsTitle {
  text-align: center;
}

.selectedAccountCount {
  font-size: 17px;
}
.allAccountsCheckbox {
  margin: 8px 16px 0;
  display: flex;
  justify-content: flex-end;
}

.accountListDivider {
  margin-bottom: 8px;
}

.accountList {
  margin: 4px 16px 16px;
}

.accountItem {
  display: flex;
}
.accountItemAvatar {
  --size: 32px;
}

/************** 群组 **************/
.allGroupsCheckbox {
  margin: 8px 16px 0;
  display: flex;
  justify-content: flex-end;
}

.groupListDivider {
  margin-bottom: 8px;
}

.groupList {
  margin: 4px 16px 16px;
}

.groupItem {
  display: flex;
}
.groupItemAvatar {
  --size: 32px;
}
