.container {
  padding: 8px;
}

.title {
  margin-bottom: 24px;
  color: #409eff;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.menuCard {
  background: #ecf5ff;
  border-radius: 12px;

  // border: 1px solid #e0e0e0;
  transition: all 0.3s ease;

  &:hover {
    background: #e6f7ff;
    box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
    transform: translateY(-4px);
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
}

.cardIcon {
  color: #1890ff;
  font-size: 32px;
}

.cardTitle {
  color: #333;
  font-weight: 500;
  font-size: 16px;
}

.cardDescription {
  color: #909399;
  font-size: 14px;
}
